@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300");
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700);

* {
    margin:0;
    padding:0;
}

body {
    font-family:"Open Sans", sans-serif;
    background:#7c7c7c;
    color:white;
}

.btn {
    border:none;
}

.btn-xs {
    padding: 2px 5px;
    font-size: 10px;
    line-height: 1.4;
    border-radius: 2px;
}

.btn-default {
    background:#444;;
    color:white;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
    background:#555 !important;
    color:white !important;
    box-shadow:none;
}

.btn-play {
    color:#60FC7D;
}

.btn-label {
    font-family:"Open Sans", sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 9px;
    margin-top: -4px;
    padding-left: 4px;
    /* float: right; */
    display: inline-block;
    line-height: 17px;
    font-weight: 600;
}

.codemirror-view .CodeMirror {
    height:425px;
}

.codemirror-edit-toolbar {
    height:30px;
    background:rgba(20, 20, 20, 0.5);
    padding:3px;
    text-align:right;
}

.codemirror-edit .CodeMirror {
    height:150px;
}

.CodeMirror, .cm-s-night.CodeMirror {
    background:none;
    color:white;
    font-family:"Source Code Pro", Courier New, Courier, monospace;
    font-weight:400;
    font-size:12px;
}

#collapseConsole {
    padding:6px;
}

.cm-s-night .CodeMirror-gutters {
    background:rgba(20, 20, 20, 0.5);
}

.cm-s-night span.cm-string {
    color:#0ff;
}

.cm-s-night span.cm-atom {
    color:white;
}

.cm-s-night span.cm-number, .cm-s-night span.cm-attribute {
    color:#0ff;
}

.cm-s-night .CodeMirror-linenumber {
    color:#999;
}

.cm-s-night span.cm-comment {
    color:#666;
}

.console {
    position:absolute;
    z-index:100;
    width:400px;
    left: 3px;
    top: 42px;
    color:#aec2e0;
    background:rgba(0, 0, 0, 0.8);
    border:none;
}

.console .panel-heading {
    background-color:rgba(50, 50, 50, 0.5);
    padding: 6px 8px;
    border-bottom: 1px solid #333;
    border-radius:0;
}

.console .panel-heading a {
    color:#aec2e0;
    text-decoration:none;
}

.console .panel-heading a:hover, .sidebar .panel-heading a:focus {
    text-decoration:none;
}

.console .panel-title {
    font-size:10px;
    text-transform:uppercase;
    color:#fff;
}

.menu {
    background:#444;
    height:39px;
    padding:2px 0;
}

.menu-divider {
    border-left: 1px solid #666;
    border-right: 1px solid #333;
    margin: 0 10px;
    position: relative;
    top: 4px;
}

.logo {
    float:left;
    font-size:18px;
    line-height:18px;
    font-weight:300;
    text-transform: uppercase;
    padding:0 25px 0 10px;
    margin-top:8px;
}

.menu button {
    border-radius:3px;
    border:1px solid #444;
    background:url('/images/toolbox.png') top left no-repeat #444;
    background-position:-3px -1px;
    height:35px;
    width:35px;
    transition: all 0.35s;
    cursor:pointer;
}

.menu button.menu-select {
    
}

.menu button.menu-select-object {
    background:url('/images/select-object.png') center center no-repeat;
}

.menu button.menu-select-vertex {
    background:url('/images/select-vertex.png') center center no-repeat;
}

.menu button.menu-select-edge {
    background:url('/images/select-edge.png') center center no-repeat;
}

.menu button.menu-select-face {
    background:url('/images/select-face.png') center center no-repeat;
}

.menu button:hover {
    border:1px solid #9cc;
    box-shadow: inset 0 0 3px #9cc;
}

.menu .toolbox-cube {
    background-position:-38px -1px;
}

.menu .toolbox-cylinder {
    background-position:-73px -1px;
}

.menu .toolbox-cone {
    background-position:-107px -1px;
}

.menu .toolbox-plane {
    background-position:-140px -2px;
}

.menu .toolbox-torus {
    background-position:-177px -3px;
}

.sidebar {
    position:absolute;
    z-index:100;
    width:265px;
    height:600px;
    background:rgba(0, 0, 0, 0.8);
    right:0;
    padding:10px;
    color:#aec2e0;
}

.sidebar .selected-object {
    font-weight: 300;
    margin-bottom: 0;
}

.sidebar-section {
    padding:8px;
    margin-bottom:9px;
}

.sidebar-section h3 {
    text-transform: uppercase;
    font-weight:300;
    font-size:0.9em;
    padding:0;
    margin:0;
    line-height:31px;
}

.property {
    padding:2px 0;
    clear:both;
}

.sidebar .panel {
    margin-top:10px;
    background:none;
    border-radius:0;
}

.sidebar .panel-default {
    border:none;
    border-bottom:1px solid #333; 
}

.sidebar .panel-heading {
    background-color:rgba(50, 50, 50, 0.5);
    padding: 6px 8px;
    border-bottom: 1px solid #333;
    border-radius:0;
}

.sidebar .panel-heading a {
    color:#aec2e0;
}

.sidebar .panel-heading a:hover, .sidebar .panel-heading a:focus {
    text-decoration:none;
}

.sidebar .panel-properties {
    padding:6px 0 9px;
}

.sidebar .panel-title {
    font-size:10px;
    text-transform:uppercase;
    color:#fff;
}

.sidebar .property-label {
    display:inline-block;
    font-size:0.75em;
    text-align:right;
    width:66px;
    height:20px;
    padding-top:3px;
}

.sidebar .property-value {
    float:right;
    width:25px;
    margin-left:15px;
    font-size:0.75em;
    font-weight:300;
}

.sidebar .property-controls {
    float:right;
    width:170px;
}

.sidebar .property-controls .slider-track {
    height:5px;
    background:none;
    border:1px solid #0ff;
}

.sidebar .property-controls .slider-selection {
    background:none;
}

.sidebar .property-controls .tooltip-inner {
    display:none;
}

.sidebar .property-controls .slider-handle {
    width:6px;
    height:15px;
    background-image:none;
    background:#aec2e0;
    margin-left: -3px;
    margin-top: -5px;
    border-radius:2px;

}

.sidebar input.form-control {
    background: rgba(20, 20, 20, 0.5);
    border: 1px solid #444;
    color:#ccc;
}

.sidebar input.object-name {
    border:none;
    background:none;
    font-size:25px;
    font-weight:300;
    height: 36px;
    padding: 0px 6px;
    margin-bottom:0;
    color:#aec2e0;
}

.vector3-tiny {
    font-size: 0.75em;
    border-radius: 1px;
    display: inline-block;
    padding: 2px 5px;
    width: 30%;
    height: 20px;
}