<!-- Logo -->
<div class="logo">Holomatrix</div>

<!-- Add primitives -->
<div class="btn-group">
  <button class="toolbox-sphere" ng-click="addPrimitive('Sphere')"></button>
  <button class="toolbox-cube" ng-click="addPrimitive('Cube')"></button>
  <button class="toolbox-cylinder" ng-click="addPrimitive('Cylinder')"></button>
  <button class="toolbox-cone" ng-click="addPrimitive('Cone')"></button>
  <button class="toolbox-plane" ng-click="addPrimitive('Plane')"></button>
  <button class="toolbox-torus" ng-click="addPrimitive('Torus')"></button>
</div>

<span class="menu-divider"></span>

<!-- Selection modes -->
<div class="btn-group">
  <button class="btn menu-select menu-select-object" ng-model="selectionMode" uib-btn-radio="'object'" ng-click="updateSelectionMode('object')"></button>
  <button class="btn menu-select menu-select-vertex" ng-model="selectionMode" uib-btn-radio="'vertex'" ng-click="updateSelectionMode('vertex')"></button>
  <button class="btn menu-select menu-select-edge" ng-model="selectionMode" uib-btn-radio="'edge'" ng-click="updateSelectionMode('edge')"></button>
  <button class="btn menu-select menu-select-face" ng-model="selectionMode" uib-btn-radio="'face'" ng-click="updateSelectionMode('face')"></button>
</div>