<div class="logo">Holomatrix</div>
<button class="toolbox-sphere" ng-click="addPrimitive('Sphere')"></button>
<button class="toolbox-cube" ng-click="addPrimitive('Cube')"></button>
<button class="toolbox-cylinder" ng-click="addPrimitive('Cylinder')"></button>
<button class="toolbox-cone" ng-click="addPrimitive('Cone')"></button>
<button class="toolbox-plane" ng-click="addPrimitive('Plane')"></button>
<button class="toolbox-torus" ng-click="addPrimitive('Torus')"></button>
<span class="menu-divider"></span>
<button class="menu-select menu-select-object" ng-click="setSelectMode('object')"></button>
<button class="menu-select menu-select-vertex" ng-click="setSelectMode('vertex')"></button>
<button class="menu-select menu-select-edge" ng-click="setSelectMode('edge')"></button>
<button class="menu-select menu-select-face" ng-click="setSelectMode('face')"></button>