
<div ng-controller="WorldbuilderCtrl">

  <div class="menu">
    <div class="logo">Worldbuilder</div>
    <button class="toolbox-sphere" ng-click="createGeometry('sphere')"></button>
    <button class="toolbox-cube" ng-click="createGeometry('cube')"></button>
    <button class="toolbox-cylinder" ng-click="createGeometry('cylinder')"></button>
    <button class="toolbox-cone" ng-click="createGeometry('cone')"></button>
    <button class="toolbox-plane" ng-click="createGeometry('plane')"></button>
    <button class="toolbox-torus" ng-click="createGeometry('torus')"></button>
  </div>

  <div class="sidebar">
    <div class="sidebar-section">
      <h3>Position</h3>
      <div class="property">
        <div class="property-label">X</div>
        <div class="property-value">{{position.x}}</div>
        <div class="property-controls">
          <slider ng-model="position.x" min="-10" step="0.1" max="10" value="0" ng-change="updatePosition()"></slider>
        </div>
      </div>
      <div class="property">
        <div class="property-label">Y</div>
        <div class="property-value">{{position.y}}</div>
        <div class="property-controls">
          <slider ng-model="position.y" min="-10" step="0.1" max="10" value="0" ng-change="updatePosition()"></slider>
        </div>
      </div>
      <div class="property">
        <div class="property-label">Z</div>
        <div class="property-value">{{position.z}}</div>
        <div class="property-controls">
          <slider ng-model="position.z" min="-10" step="0.1" max="10" value="0" ng-change="updatePosition()"></slider>
        </div>
      </div>
    </div>

    <div class="sidebar-section">
      <h3>Rotation</h3>
      <div class="property">
        <div class="property-label">X</div>
        <div class="property-value">{{rotation.x}}</div>
        <div class="property-controls">
          <slider ng-model="rotation.x" min="0" step="1" max="360" value="0" ng-change="updateRotation()"></slider>
        </div>
      </div>
      <div class="property">
        <div class="property-label">Y</div>
        <div class="property-value">{{rotation.y}}</div>
        <div class="property-controls">
          <slider ng-model="rotation.y" min="0" step="1" max="360" value="0" ng-change="updateRotation()"></slider>
        </div>
      </div>
      <div class="property">
        <div class="property-label">Z</div>
        <div class="property-value">{{rotation.z}}</div>
        <div class="property-controls">
          <slider ng-model="rotation.z" min="0" step="1" max="360" value="0" ng-change="updateRotation()"></slider>
        </div>
      </div>
    </div>

    <div class="sidebar-section">
      <h3>Scale</h3>
      <div class="property">
        <div class="property-label">X</div>
        <div class="property-value">{{scale.x}}</div>
        <div class="property-controls">
          <slider ng-model="scale.x" min="0" step="0.1" max="5" value="1" ng-change="updateScale()"></slider>
        </div>
      </div>
      <div class="property">
        <div class="property-label">Y</div>
        <div class="property-value">{{scale.y}}</div>
        <div class="property-controls">
          <slider ng-model="scale.y" min="0" step="0.1" max="5" value="1" ng-change="updateScale()"></slider>
        </div>
      </div>
      <div class="property">
        <div class="property-label">Z</div>
        <div class="property-value">{{scale.z}}</div>
        <div class="property-controls">
          <slider ng-model="scale.z" min="0" step="0.1" max="5" value="1" ng-change="updateScale()"></slider>
        </div>
      </div>

    </div>

  </div>

</div>
